* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 25%;
  padding: 10px 10px;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .column {
    margin: 0px -5px;
  }
}

.card {
  cursor: pointer;
  padding: 16px;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ddd;
  height: 150px;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.card:hover {
  border: 1px solid #ccc;
}

.card:active {
  border: 1px solid #000
}
